@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@100&family=Source+Sans+Pro:ital,wght@0,700;1,400&display=swap');
*{
  font-family: 'Poppins' ,'Times New Roman', Times, serif;
  font-weight: 5000;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
    margin : 0;
    background-color: grey;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}
.card
{
    
    background :#000000d0;
    padding : 3em; 
    color:white;
    border-radius: 30px;
    width: 100%;
    max-width:420px;
    margin:1em;
}
.search
{
    display: flex;
    align-items: center;
    justify-content: center;
}
button
{
    margin:0.5em;
    border-radius: 50%;
    border:2.5em;
    border :none;
    height :46px; 
    width :46px;
    outline:none;
    background: #7c7c7c2b;
    color:white;
    cursor: pointer;
    transition:0.5s ease-in-out;
}
button:hover
{
    background: #7c7c7c;
}
.search-bar
{
    border:none;
    outline:none;
    padding:0.8em 1em;
    border-radius: 18px;
    background-color: #7c7c7c2b;
    color:white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);


}
h1.temp
{
    margin:0;
    margin-bottom: 0.4em;
}
.description
{
    text-transform: capitalize;
    margin-left: 8px;
}

.flex{
    display: flex;
    align-items: center;
}
.weather .loading{
    visibility: hidden;
    margin-right: 20px;
    position: relative;
}
.weather .loading:after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position:absolute;
    top:0;
    left: 20px;

}